In [35]:
import pandas as pd 
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import seaborn as sns
import matplotlib.pyplot as plt

In [36]:
df_nf016 = pd.read_csv("./data/redflags_analysis/nf016.csv")
df_nf017 = pd.read_csv("./data/redflags_analysis/nf017.csv").iloc[:, [1,2,4]]
df_nf019 = pd.read_csv("./data/redflags_analysis/nf019.csv")

df_nf016.columns = ["ruc", "ocid", "NF016"]
df_nf017.columns = ["ocid", "ruc", "NF017"]
df_nf019.columns = ["ocid", "ruc", "NF019"]

In [37]:
df_nf016

,ruc,ocid,NF016
0,EC-RUC-1768159220001-338536,ocds-5wno2w-LICO-SECOB-002-2019-338536,1
1,EC-RUC-0960000490001-44718,ocds-5wno2w-LICO-GADIMCD-01-2021-44718,1
2,EC-RUC-1768159220001-338536,ocds-5wno2w-LICO-SECOB-003-2019-338536,1
3,EC-RUC-0760000770001-39712,ocds-5wno2w-RE-ESPE-017-2021-30573,1
4,EC-RUC-0360000310001-99459,ocds-5wno2w-RSIE-GADPRGÜEL-005-118007,1
...,...,...,...
3451,EC-RUC-0968599020001-462114,ocds-5wno2w-COTO-CNELMLG-010-20-462114,1
3452,EC-RUC-0968599020001-462114,ocds-5wno2w-COTO-CNELMLG-013-20-462114,1
3453,EC-RUC-0968599020001-462114,ocds-5wno2w-COTO-CNELMLG-014-20-462114,1
3454,EC-RUC-0968599020001-462114,ocds-5wno2w-COTO-CNELPRI-003-19-462114,1
3455,EC-RUC-2460002550001-462963,ocds-5wno2w-SIE-PGADPCH-002-2021-42097,1

In [38]:
df_nf017

,ocid,ruc,NF017
0,ocds-5wno2w-MCO-GADPEO-Q-09-2018-17250,EC-RUC-0705215606001-585014,1
1,ocds-5wno2w-MCO-GADPO-111COP-18-29112,EC-RUC-1310092018001-37975,1
2,ocds-5wno2w-LICO-GADMCH-001-2019-43412,EC-RUC-1391844786001-784910,1
3,ocds-5wno2w-MCO-GADPRB-01-2019-110239,EC-RUC-0291518028001-879978,1
4,ocds-5wno2w-MCO-GADPO-001-2019-125195,EC-RUC-1103801864001-785041,1
...,...,...,...
468367,ocds-5wno2w-SIE-DDSPHTS-014-2022-101386,EC-RUC-1003020680001-886715,1
468368,ocds-5wno2w-REPUF-ISSFA-016-2022-2803,EC-RUC-0990018707001-4660,0
468369,ocds-5wno2w-SIE-HEJCA-F-300-2022-87497,EC-RUC-0990018707001-4660,0
468370,ocds-5wno2w-SIE-HEJCA-F-284-2022-87497,EC-RUC-1790233332001-41388,1
468371,ocds-5wno2w-SIE-RE-HTMC-097-2022-2810,EC-RUC-1793107613001-1079416,1

In [39]:
df_nf019

,ocid,ruc,NF019
0,ocds-5wno2w-SIE-GPA-001-2019-30745,EC-RUC-1791773268001-239301,1
1,ocds-5wno2w-SIE-GPA-004-2019-30745,EC-RUC-0190061884001-15260,0
2,ocds-5wno2w-SIE-GPA-009-2019-30745,EC-RUC-0103903399001-282302,1
3,ocds-5wno2w-SIE-GPA-011-2019-30745,EC-RUC-0101364107001-30471,1
4,ocds-5wno2w-SIE-GPA-012-2019-30745,EC-RUC-0102788635001-471993,1
...,...,...,...
36570,ocds-5wno2w-GADPRBM-001-SIE-2022-98091,EC-RUC-1804030516001-320197,0
36571,ocds-5wno2w-IESS-CSA-PIL003-2022-84345,EC-RUC-0291518281001-911245,0
36572,ocds-5wno2w-SIE-GADPRT-2022-003-141875,EC-RUC-2290350223001-1055231,0
36573,ocds-5wno2w-SIE-CCSL-002-2022-596563,EC-RUC-1590017414001-550710,0
36574,ocds-5wno2w-SIE-LALITRAN-04-2022-987431,EC-RUC-0930071568001-1104897,0

In [51]:
df = df_nf017.merge(df_nf019, on=["ocid", "ruc"], how="left")

In [48]:
df

,ocid,ruc,NF017,NF019
0,ocds-5wno2w-MCO-GADPEO-Q-09-2018-17250,EC-RUC-0705215606001-585014,1,NaN
1,ocds-5wno2w-MCO-GADPO-111COP-18-29112,EC-RUC-1310092018001-37975,1,NaN
2,ocds-5wno2w-LICO-GADMCH-001-2019-43412,EC-RUC-1391844786001-784910,1,0.0
3,ocds-5wno2w-MCO-GADPRB-01-2019-110239,EC-RUC-0291518028001-879978,1,NaN
4,ocds-5wno2w-MCO-GADPO-001-2019-125195,EC-RUC-1103801864001-785041,1,NaN
...,...,...,...,...
1852105,ocds-5wno2w-SIE-DDSPHTS-014-2022-101386,EC-RUC-1003020680001-886715,1,NaN
1852106,ocds-5wno2w-REPUF-ISSFA-016-2022-2803,EC-RUC-0990018707001-4660,0,NaN
1852107,ocds-5wno2w-SIE-HEJCA-F-300-2022-87497,EC-RUC-0990018707001-4660,0,NaN
1852108,ocds-5wno2w-SIE-HEJCA-F-284-2022-87497,EC-RUC-1790233332001-41388,1,1.0
1852109,ocds-5wno2w-SIE-RE-HTMC-097-2022-2810,EC-RUC-1793107613001-1079416,1,NaN

In [52]:
df.merge(df_nf016, on=["ocid", "ruc"], how="inner")

Empty DataFrame
Columns: [ocid, ruc, NF017, NF019, NF016]
Index: []

In [46]:
df["NF016"].isnull().sum()

1852110

In [ ]:
df.fillna(0, inplace=True)

df.loc[:, "NF019"] = df.loc[:, "NF019"].astype("int64")
df.loc[:, "NF016"] = df.loc[:, "NF016"].astype("int64")

df = df[df["ruc"]!=0]
df

In [7]:
df[df["ruc"]==0]

Empty DataFrame
Columns: [ocid, ruc, NF017, NF019, NF016]
Index: []

In [8]:
df.dtypes

ocid     object
ruc      object
NF017     int64
NF019     int64
NF016     int64
dtype: object

In [13]:
df_clustering = df.groupby("ruc")["NF017", "NF019", "NF016"].sum()
df_clustering

C:\Users\DELL\AppData\Local\Temp\ipykernel_18476\881754911.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_clustering = df.groupby("ruc")["NF017", "NF019", "NF016"].sum()

                             NF017  NF019  NF016
ruc
EC-RUC-0100026863001-324414      1      0      0
EC-RUC-0100037365001-133859      1      0      0
EC-RUC-0100047364001-45090       0      0      0
EC-RUC-0100109164001-267709      1      0      0
EC-RUC-0100163419001-463237      1      0      0
...                            ...    ...    ...
ID-900571849-1-1081569           2      0      0
ID-A41050113-543631              0      1      0
ID-B85173136-991809              1      0      0
ID-BE0876816058-1029439          1      1      0
ID-Q2821013F-975283              0      0      0

[23587 rows x 3 columns]

### Aqui tenemos los ruc de las empresas participantes en proceso de licitación con la cantidad de veces que se vieron envueltas en las redflags NF016, NF017 y NF019

In [15]:
df_clustering = df_clustering.reset_index()

In [16]:
df_clustering

                               ruc  NF017  NF019  NF016
0      EC-RUC-0100026863001-324414      1      0      0
1      EC-RUC-0100037365001-133859      1      0      0
2       EC-RUC-0100047364001-45090      0      0      0
3      EC-RUC-0100109164001-267709      1      0      0
4      EC-RUC-0100163419001-463237      1      0      0
...                            ...    ...    ...    ...
23582       ID-900571849-1-1081569      2      0      0
23583          ID-A41050113-543631      0      1      0
23584          ID-B85173136-991809      1      0      0
23585      ID-BE0876816058-1029439      1      1      0
23586          ID-Q2821013F-975283      0      0      0

[23587 rows x 4 columns]

In [33]:
df_clustering[(df_clustering['NF017'] > 1) & (df_clustering['NF019'] > 1)]

                               ruc  NF017  NF019  NF016
37     EC-RUC-0101030153001-217141   1279   1448      0
62      EC-RUC-0101178333001-37075      4      3      0
84     EC-RUC-0101324002001-127048     26      9      0
121     EC-RUC-0101638823001-92458     18     15      0
135    EC-RUC-0101698884001-202577      8      2      0
...                            ...    ...    ...    ...
23528      ID-1792343143001-378313      2      2      0
23537      ID-1792436109001-488770      5      3      0
23543      ID-1792497558001-846266      3      2      0
23548      ID-1792580455001-970345      6      5      0
23555      ID-1792782120001-847632      6      3      0

[2751 rows x 4 columns]